<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<oracle.manageddataaccess.client>
		<version number="*">
			<settings>
				<setting name="TNS_ADMIN" value="C:\oracle19c\19.0.0\network\admin" />
			</settings>
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<connectionStrings>
		<!--<add name="claimLookupData" connectionString="Data Source=wsiprod;User Id=Robot1;Password=robot!911;Integrated Security=no;"/>-->
		<add name="ConnectionStringUat" connectionString="Data Source=wsiuat;User Id=commproc;Password=commproc" />
		<add name="ConnectionStringProd" connectionString="Data Source=wsiprod;User Id=commproc;Password=corpmmoc" />
	</connectionStrings>
  <appSettings>
    <add key="ClaimLookupDbLinkName" value="CMSRPT_ONLN"/>
    <add key="uu" value="wsitestuser;wsitest123;dhsuser1;DhsVerify1@"/>
		<!--CurrentEnvironment can be UAT or Prod  -->
		<add key="CurrentEnvironment" value="UAT" />
	</appSettings>
	<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
        <listeners>
          <add name="sysTraceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All" propagateActivity="true">
        <listeners>
          <add name="sysTraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="sysTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData=".\logs\svcSys.svclog"/>
    </sharedListeners>
    <switches>
      <!-- This switch controls data messages. In order to receive data 
         trace messages, change value="0" to value="1" -->
      <add name="DataMessagesSwitch" value="4"/>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="ServiceMessageSwitch" value="4"/>
    </switches>
    <trace>
      <listeners>
        <add name="FileAdderTextfileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ClaimVerify.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>